@import './utils/vars';
@import './utils/placeholders';
@import './utils/mixins';
@import './base/normalize';
@import './components/body';
@import './components/header';
@import './components/logo';
@import './components/button';
@import './components/hero';
@import './components/modal';
@import './components/features';
@import './components/area';
@import './components/team';
@import './components/clients';
@import './components/footer';
@import './components/filter';
@import './components/portfolio';
