.filter {
  @extend %list;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

// .filter__button {
//   color: $title-text-color;
//   background-color: $bg-grey-color;
//   font-weight: 500;
//   padding: 6px 22px;
//   line-height: 1.62;
//   letter-spacing: 0.03em;
//   font-family: inherit;
//   border: transparent;

//   @include anim(box-shadow);

//   @include anim(background-color);

//   @include anim(color);

//   &:hover,
//   &:focus {
//     color: $white-text-color;
//     background-color: $accent-text-color;
//     box-shadow: $box-shadow;
//   }
// }
