.page-header {
  border-bottom: solid 1px;
  border-color: #ececec;

  &__container {
    display: flex;
  }
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__item + &__item {
    margin-left: 50px;
  }
}

.nav__list {
  @extend %list;

  display: flex;
}

.nav__link {
  @extend %link;

  display: block;
  padding: 32px 0;

  color: $title-text-color;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  @include anim(color);
}
.nav__link--current {
  color: $accent-text-color;
  position: relative;

  &::after {
    display: block;
    content: '';

    height: 4px;
    width: 100%;

    background-color: $accent-text-color;
    border-radius: 2px;

    position: absolute;
    left: 0;
    bottom: 0;
  }
}

.nav__link:hover,
.nav__link:focus {
  color: $accent-text-color;
}

.contact {
  @extend %list;
  display: flex;
  margin-left: auto;
}

.contact__link {
  @extend %link;
  display: flex;
  align-items: flex-start;
  padding: 32px 0;
  color: $primary-text-color;
  @include anim(color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  &:hover,
  &:focus {
    color: $accent-text-color;
  }
}

.contact__item + .contact__item {
  margin-left: 30px;
}
.contact__img {
  fill: currentColor;
  margin-right: 8px;
}
