.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
  opacity: 1;

  @include anim(opacity);

  &.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
}

.modal {
  position: absolute;

  width: 528px;
  height: 581px;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $bg-white-color;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  padding: 40px;
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: $title-text-color;

  margin-bottom: 12px;
}

.modal-form__label {
  position: relative;
  width: 100%;
  display: block;
  flex-direction: column;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;

  letter-spacing: 0.01em;

  margin-bottom: 10px;
}

.modal-form__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  padding: 12px 16px;
  padding-left: 42px;
  margin-top: 4px;

  &:focus {
    outline: 0;
    border-color: $accent-text-color;
  }
}

.modal-form__icon {
  display: inline-block;
  position: absolute;
  top: 28px;
  left: 12px;
  width: 18px;
  height: 18px;
  @include anim(fill);
}

.modal-form__label:focus-within .modal-form__icon {
  fill: $accent-text-color;
}

.modal-form__label--comment {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;

  letter-spacing: 0.01em;

  margin-bottom: 20px;
}

.modal-form__input--comment {
  display: block;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 120px;
  resize: none;
  padding: 12px 16px;

  &::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
  }
}

.custom-checkbox__term {
  color: $accent-text-color;
}

.custom-checkbox {
  display: flex;
  justify-content: center;
  text-align: center;

  align-items: center;

  margin-bottom: 30px;
}

.custom-checkbox__label {
  position: relative;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;

  letter-spacing: 0.03em;
}
.custom-checkbox__box {
  position: absolute;
  left: 0;
  top: 0;
  width: 16px;
  height: 15px;
  border: solid 2px $title-text-color;
  border-radius: 2px;
  transform: translateY(25%) translateX(-24px);
  @include anim(background-color);
}

.custom-checkbox__input:checked ~ .custom-checkbox__box {
  background-color: $accent-text-color;
  background-image: url(../images/icon\ check.svg);
  border-color: transparent;
  background-origin: content-box;
  background-size: contain;
}
