$title-text-color: #212121;
$white-text-color: #ffffff;
$accent-text-color: #2196f3;
$footer-text-color: rgba(255, 255, 255, 0.6);
$bg-white-color: #ffffff;
$bg-darc-color: #2f303a;
$bg-grey-color: #f5f4fa;
$client-color: #afb1b8;
$primary-text-color: #757575;
$box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
